{% extends 'base.html' %}
{% load static %}

{% block title %}DeMaldyStore - Inicio{% endblock %}

{% block content %}
    <div class="contenedor-carrusel">
        <ul>
            <li>
                <img src="{% static 'images/jordan.jpg' %}" alt="jordan">
            </li>
            <li>
                <img src="{% static 'images/nike.jpg' %}" alt="nike">
            </li>
            <li>
                <img src="{% static 'images/puma.jpg' %}" alt="puma">
            </li>
            <li>
                <img src="{% static 'images/newera.png' %}" alt="newera">
            </li>
        </ul>
    </div>
    <div class="contenedor-oferta">
        <h2>Marcas Destacadas/Ofertas/De Temporada</h2>
    </div>
    {% if mensaje %}
    <div class="alert alert-success">
        {{ mensaje }}
    </div>
    {% endif %}
    <div class="contenedor-galeria">
        <div class="row">
            <div class="column" id="1">
                <img src="{% static 'images/bape800.jpg' %}" alt="galeryJordan">
                <img src="{% static 'images/nike350.jpg' %}" alt="galeryVans">
                <img src="{% static 'images/champ.jpg' %}" alt="galeryVans">
            </div>
            <div class="column">
                <img src="{% static 'images/centrojordan.jpg' %}" alt="banervertical">
            </div>
            <div class="column">
                <img src="{% static 'images/galerytrapstar.jpg' %}" alt="galerytrapstar">
                <img src="{% static 'images/galerysupreme.jpg' %}" alt="galerysupreme">
            </div>
        </div>
    </div>
    <div class="contenedor-iconos">
        <div class="icono">
            <img src="{% static 'images/despacho.png' %}" alt="despacho">
            <p>Despacho a todo Chile</p>
        </div>
        <div class="icono">
            <img src="{% static 'images/pago1.png' %}" alt="pagos">
            <p>Debito y Credito</p>
        </div>
        <div class="icono">
            <img src="{% static 'images/webseguro.png' %}" alt="webseguro">
            <p>Sitio Web Protegido</p>
        </div>
    </div>
    <div class="productos">
        <h2>Productos</h2>
        <div class="grid-container" id="grid-container">
            {% for producto in productos %}
            <div class="grid-item">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                <div class="overlay">
                    <div class="overlay-content">
                        <p>Nombre: {{ producto.nombre }}</p>
                        <p>Precio: ${{ producto.precio }}</p>
                        <form action="{% url 'agregar_al_carrito' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_ids" value="{{ producto.id }}">
                            <input type="hidden" name="quantities" value="1">
                            <button type="submit" class="add-to-cart-btn">Añadir al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
